body, html {
  width: 100%;
  margin: 0; }

* {
  font-family: arial, sans-serif; }

#container {
  display: none; }

.header {
  max-width: 100vw; }

.up {
  width: 100%;
  height: 100px;
  background-color: #2a2e33; }

.logo {
  font-family: arial, serif;
  font-size: 2em;
  margin-left: 150px;
  color: white;
  margin-top: 30px;
  display: inline-block; }

.logo > .dlx {
  color: #ffd700; }

.logo1 {
  position: relative;
  display: inline-block;
  color: #8d9092; }

.navigation {
  float: right;
  height: 100px;
  background-color: #2a2e33;
  margin-right: 7.88%;
  color: white; }

.item1 {
  height: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

.item1:hover {
  border-top: #ffd700 3px solid;
  background-color: #1e2329;
  box-sizing: border-box;
  padding-top: 37px;
  color: white; }

.mainpicture {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  height: 480px;
  width: 100%;
  background-image: url("../full-room-view.jpg");
  background-position: center;
  background-attachment: fixed;
  color: white;
  justify-content: center;
  font-size: 1.7em; }

.mp_text {
  text-align: center;
  padding-bottom: 3%; }

.hello {
  padding-top: 45px;
  margin-top: 0; }

h4 {
  font-family: 'Lato', sans-serif; }

.form_prices {
  z-index: 1;
  position: absolute;
  width: 60%;
  height: 100px;
  margin: 0 auto;
  background-color: #2a2e33;
  left: 0;
  right: 0;
  top: 530px;
  display: inline-flex;
  justify-content: space-around;
  color: #ffd700;
  font-size: 1em; }

.form_prices p {
  font-family: 'Lato', sans-serif;
  position: relative;
  margin-bottom: 2px;
  left: 6px; }

.pair {
  position: relative;
  letter-spacing: 2px;
  display: inline-block; }

.pair p {
  font-size: 1.15em; }

.arr, .dep, .choose_r {
  width: 200px;
  height: 40px;
  border-radius: 8px; }

.subm {
  width: 180px;
  height: 40px;
  background-color: #ffd700;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  border: 2px solid #ffd700;
  cursor: pointer; }

#modal_button_2 {
  color: black;
  background-color: #ffd700; }

.book_a {
  position: relative;
  background-image: url("../90572984.jpg");
  background-attachment: fixed;
  text-align: center;
  height: 600px;
  width: 100%;
  border-bottom: 2px solid #e8e9e9; }

.slider {
  display: flex;
  justify-content: space-around;
  width: 75%;
  top: 150px;
  margin: auto;
  position: relative; }

.book_a h2, .book_a > h4 {
  margin: 0 auto;
  position: relative;
  top: 80px;
  z-index: 1;
  width: 71%;
  text-align: center; }

h4 {
  letter-spacing: 2px; }

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  text-align: center; }

.circle {
  border-radius: 50%;
  border: 3px solid black;
  width: 220px;
  height: 220px;
  position: relative;
  display: inline-flex;
  background-image: url("../081-St-Regis-Luxury-Hotel-Singapore-President-Suite-Balcony.jpg");
  background-position: 60% 50%; }

.right_arr img {
  transform: rotate(180deg);
  position: relative;
  top: 35px;
  cursor: pointer; }

.left_arr {
  position: relative;
  top: 35px;
  cursor: pointer; }

.room_photos {
  width: 100%;
  height: 950px;
  border-top: 2px solid #8f9193;
  background-image: url("../003-subtle-light-pattern-background-texture2.jpg");
  background-attachment: fixed; }

.room {
  width: 380px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 1em 30px; }

.room h3, .room h5 {
  font-family: 'Lato', sans-serif; }

.rooms {
  display: flex;
  justify-content: center;
  height: 350px;
  position: relative; }

.room > img {
  border: 2px solid black; }

.city_located {
  width: 100%;
  height: 200px;
  background-color: #ffd700;
  position: relative;
  display: flex;
  align-items: center; }

.hotels_ww {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0;
  height: 100px;
  justify-content: flex-start;
  position: relative;
  margin-left: 16%; }

.best_hotels > h4, .hotels_ww > h2 {
  font-family: Lato, sans-serif;
  color: white;
  float: left;
  height: 90px;
  margin: 0; }

.best_hotels {
  position: relative;
  width: 100%; }

.city_located > h4 {
  margin-top: 10px;
  margin-left: 300px; }

.businessman {
  position: absolute;
  right: 16.5%;
  bottom: 0;
  z-index: 3;
  width: 230px;
  height: 330px; }

.businessman img {
  margin-bottom: 0; }

.foot {
  width: 100%;
  height: 320px;
  background-color: #333333;
  display: flex;
  color: white;
  justify-content: center; }

.foot h3, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold; }

.about {
  width: 230px;
  text-align: left; }

.latest {
  max-width: 230px; }

.latest h5:after {
  content: " 15 AUG";
  color: #ffd700;
  font-family: 'Lato', sans-serif;
  display: block; }

.join {
  max-width: 350px; }

.read_more {
  width: 110px;
  height: 32px;
  border-radius: 13px;
  border: 2px solid #ffd700;
  background-color: #ffd700;
  cursor: pointer;
  color: black; }

.login_form > p {
  margin: 7px; }

.subm_log {
  width: 110px;
  height: 32px;
  border-radius: 13px;
  border: 2px solid #ffd700;
  background-color: #ffd700;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  cursor: pointer; }

select, input {
  color: black !important; }

.log_area {
  background-color: #333333;
  height: 32px;
  width: 220px;
  border-radius: 13px;
  border: 2px solid #1f1f1f; }

.black_line {
  width: 100%;
  height: 40px;
  background-color: #1f1f1f; }

.navigation_mobile {
  display: none; }

.transparent {
  display: none; }

.cl_mob {
  display: none; }

input {
  border: none; }

.navigation > a {
  color: white; }

.sort {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  transform: rotate(90deg); }

.sort1 {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  transform: rotate(-90deg); }

.foot figure {
  margin: 1em 0px !important; }

/*@media screen and (max-width: 1350px) {
    html, body {
        margin: 0;
        width: 100%;
    }
    .up {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo {
        margin-left: auto;
    }
    .logo1 {
        margin: auto auto auto 0;
    }
    .navigation {
        display: flex;
        align-items: center;
    }
    .form_prices {
        max-width: 90%;
        width: auto;
    }

} */
@media screen and (max-width: 1450px) {
  .up {
    font-size: 0.8em; }
  .form_prices {
    width: 80%; }
  .hotels_ww {
    margin-left: 5%; }
  .businessman {
    right: 5%; }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: 500px !important; } }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 65%;
  margin: 0 auto;
  height: 650px !important; }

@media screen and (max-width: 1250px) {
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    min-height: 500px !important;
    width: 85%;
    height: auto; }
  .item_mob {
    opacity: 1;
    color: white;
    background-color: #2a2e33;
    padding-top: 16px;
    font-size: 1.3em; }
  .item_mob a {
    color: white;
    text-decoration: none; }
  .foot {
    height: 120%;
    justify-content: space-around;
    font-size: 0.8em; }
  .subm_log, .read_more {
    height: auto; }
  .log_area {
    width: auto;
    height: auto; }
  .arr, .dep, .choose_r {
    width: auto; }
  .hotels_ww {
    margin-left: 2%;
    font-size: 0.7em; }
  .best_hotels h4 {
    font-size: 1em; }
  .navigation {
    display: none; }
  .form_prices {
    top: 430px; }
  .navigation_mobile {
    display: block;
    width: 45px;
    height: 40px;
    z-index: 2;
    background-color: #1f1f1f;
    position: absolute;
    top: 6px;
    right: 5px;
    border-radius: 6px;
    color: white;
    opacity: 1;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 3px;
    box-sizing: border-box;
    cursor: pointer; }
  .logo {
    margin: 0px;
    display: block;
    font-size: 1.4em !important; }
  .logo1 {
    font-size: 0.7em; }
  .up {
    height: 50px;
    position: fixed;
    z-index: 500; }
  .rooms {
    font-size: 0.7em; }
  .foot h3, .foot h5 {
    font-size: 0.8em; } }

@media screen and (max-width: 750px) {
  html, body {
    margin: 0;
    width: 100%; }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: auto !important;
    width: 80%;
    margin: 25% auto;
    min-height: 100px; }
  .room_photos {
    display: none; }
  .item_mob {
    opacity: 1;
    color: white;
    background-color: #2a2e33;
    padding-top: 16px;
    font-size: 1.3em; }
  .item_mob a {
    color: white;
    text-decoration: none; }
  .hello {
    padding-bottom: 0; }
  .mainpicture {
    height: 300px; }
  .mp_text {
    padding: 0;
    font-size: 0.5em; }
  .stylll {
    display: none !important; }
  .pair {
    width: 80%;
    display: block; }
  .form_prices {
    max-width: 100%;
    width: 100%;
    top: 270px;
    height: 280px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap; }
  .subm {
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
    width: 200px; }
  .transparent {
    display: inline-flex; }
  .book_a {
    font-size: 0.7em;
    height: 510px; }
  .book_a > h2, .book_a > h4 {
    top: 240px;
    width: 90%; }
  .slider {
    width: 99%;
    top: 250px; }
  .circle {
    width: 100px;
    height: 100px; }
  .left_arr > img, .right_arr > img {
    width: 20px !important;
    height: 55px !important; }
  .book_a {
    display: none; }
  .foot {
    display: none; }
  #container {
    display: block;
    width: 100%;
    /* z-index: 10000000;*/
    top: 232px; }
  #slider h2 {
    font-size: 2em;
    margin: 0;
    margin-top: 5px; }
  .room {
    width: 80vw; }
  .room > img {
    width: 60% !important;
    max-width: 300px !important;
    min-width: 200px !important; }
  /* ------------------------- */
  pre {
    display: block;
    font: 12px "Courier New", Courier, monospace;
    padding: 10px;
    border: 1px solid #bae2f0;
    background: #e3f4f9;
    margin: .5em 0;
    width: 674px; }
  /* image replacement */
  .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    text-indent: -8000px; }
  /* // image replacement */
  #container {
    display: flex;
    align-content: center;
    margin: 0;
    position: relative;
    text-align: left;
    width: 100%;
    background: #fff;
    /*margin-bottom:2em;*/ }
  /* Easy Slider */
  #slider ul, #slider li,
  #slider2 ul, #slider2 li {
    margin: 0;
    padding: 0;
    list-style: none; }
  #slider2 {
    margin-top: 1em; }
  #slider li, #slider2 li {
    /*
        define width and height of list item (slide)
        entire slider area will adjust according to the parameters provided here
    */
    width: 100vw;
    height: 400px;
    overflow: hidden; }
  #prevBtn, #nextBtn,
  #slider1next, #slider1prev {
    display: block;
    width: 30px;
    height: 77px;
    position: absolute;
    left: -30px;
    top: 71px;
    z-index: 10000000; }
  /*#nextBtn, #slider1next{
      left:696px;
      }	*/
  #prevBtn a, #nextBtn a,
  #slider1next a, #slider1prev a {
    display: block;
    position: relative;
    width: 30px;
    height: 77px;
    background: url(../images/btn_prev.gif) no-repeat 0 0; }
  #nextBtn a, #slider1next a {
    background: url(../images/btn_next.gif) no-repeat 0 0; }
  /* numeric controls */
  ol#controls {
    margin: 1em 0;
    padding: 0;
    height: 28px; }
  ol#controls li {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 28px;
    line-height: 28px; }
  ol#controls li a {
    float: left;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    background: #DAF3F8;
    color: #555;
    padding: 0 10px;
    text-decoration: none; }
  ol#controls li.current a {
    background: #5DC9E1;
    color: #fff; }
  ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus {
    outline: none; }
  /* // Easy Slider */
  .ololo {
    display: inline-flex;
    width: 100%; }
  .city_located {
    display: none; }
  .cl_mob {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
    background-color: #ffd700;
    display: inline-flex;
    top: 190px;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 15px; }
  .cl_mob h2 {
    font-size: 2em;
    top: 5px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-family: 'Lato', sans-serif; }
  .face {
    display: block;
    margin: 0 auto; }
  .face img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
    padding: 3px; }
  .hotels_ww > h2 {
    height: 30%; }
  .hotels_ww, .best_hotels {
    margin: 0 auto;
    text-align: center;
    left: 1%; }
  .businessman, .bfr, .aft {
    display: none; } }

.hotel-table {
  margin: 0 auto; }
